{% extends 'base.html.twig' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modification du mot de passe</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    {{ form_widget(form) }}
                    <hr>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-check mr-1"></i>Confirmer</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

