/* ------------------------
-------   GENERAL   ------
------------------------ */

div.container {
    margin-top: 20px;
}

/* ------------------------
-------  SHOW PAGE  ------
------------------------ */

div.show-title h1, div.show-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.show-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.avatar {
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 70px;
    max-height: 70px;
}