{% extends 'base.html.twig' %}

{% form_theme form 'annonce/_form.html.twig' %}

{% block title %} Modification d'une annonce {% endblock %}

{% block body %}

    <div class="container">
        <h1>Modification de l'annonce : <strong>{{ annonce.title }}</strong></h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
            {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/annonce.js"></script>
{% endblock %}