{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="h1 my-5">Nos annonces !</h1>

        <div class="row">
            {% for annonce in annonces %}
                {% include 'annonce/_annonce.html.twig' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
